*,
*::before,
*::after {
    box-sizing: border-box;
}



html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

body.gradient-bg {
  background: #4b4b52;
  background: linear-gradient(
    180deg,
    #1f2423 0%,
    #242d2b 40%,
    #2e3b38 70%,
    #465c57 100% 
  );
  height: 100vh;
}


